@media all and (min-width: 480px) {
  .login {
    padding-top: 100px;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.full-width {
  width: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}