<form>
  <div class="field">
    <div class="field has-addons">
      <p class="control">
        <a class="button is-static">Inject</a>
      </p>
      <p class="control is-expanded">
        <input class="input" type="number" placeholder="a number" [(ngModel)]="amount" name="amount">
      </p>
      <p class="control">
        <a class="button is-static">players.</a>
      </p>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-primary inject-btn" (click)="inject()">Inject</button>
    </div>
  </div>
</form>