<div class="level filter">
  <mat-form-field class="level-left">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type ID or Title to filter">
  </mat-form-field>
  <div class="level-right">
    <a class="button is-light">Refresh</a>
    <a class="button is-link" routerLink="/game/create">Create Game</a>
  </div>
</div>
<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/game', element.id]">{{element.id}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="createdTime">
      <th mat-header-cell *matHeaderCellDef>Create Time</th>
      <td mat-cell *matCellDef="let element">
        {{element.createdTime | date: 'yyyy/MM/dd hh:mm:ss'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>Start Time</th>
      <td mat-cell *matCellDef="let element">
        {{element.isStarted ? (element.startTime | date: 'yyyy/MM/dd hh:mm:ss'): ''}}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span class="tag"
        [class.is-warning]="element.status === 'Cancelled'"
        [class.is-success]="element.status === 'Completed'"
        [class.is-info]="element.status === 'Started'"
        [class.is-light]="element.status === 'Created'">
          {{element.status}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="winner">
      <th mat-header-cell *matHeaderCellDef>Winner</th>
      <td mat-cell *matCellDef="let element">{{element.winner && element.winner.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>