<div>
  <mat-sidenav-container class="full-height">
    <mat-sidenav mode="side" position="end" [opened]="listening">
      <app-console [listening]="listening"></app-console>
    </mat-sidenav>
    <mat-sidenav-content>
      <nav class="navbar is-primary">
        <div class="navbar-brand">
          <a class="navbar-item">
            <strong>gframe</strong>
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a (click)="listening = !listening">
              <span class="icon">
                <i class="fas fa-terminal"></i>
              </span>
            </a>
          </div>
        </div>
      </nav>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>