.full-height {
  height: 100%;
}

mat-sidenav {
  width: 30%;
  background: #263238;
}

.brand-text {
  padding-left: 10px;
  font-size: 1.2rem;
}

.navbar {
  box-shadow: 0 2px #F1F1F1;
}

.main {
  min-height: calc(100vh - 52px);
}